.user-tab {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows:  2fr 1fr;
}
.tab-data {
    grid-row: 1;
    grid-column: 1;
    display: flex;
    flex-direction: column;
}
.tab-btns {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    justify-content: flex-end;
}