.user-tab {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows:  3fr 1fr;
    height: 15vh;
}
.tab-data {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.tab-btns {
    grid-row: 3;
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
}
.tab-img {
    grid-column: 1 / 2;
    grid-row: 1;
}

.shadow-2xl {
    box-shadow: 5px 4px 15px 0 rgba(0,0,0,0.6);
}
.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh 10vh 4vh;
}

.form-col-1 {
    grid-column: 1;
    display: grid;
    grid-template-rows: repeat(6, 10vh);
}
.form-col-2 {
    grid-column: 2;
    display: grid;
    grid-template-rows: repeat(6, 10vh);

}
.bio {
    grid-row: 2;
    grid-column: 1 / 3;
    width: 99%;
}    