.user-tab {
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows:  3fr 1fr;
    height: 15vh;
}
.tab-data {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    flex-direction: column;
}
.tab-btns {
    grid-row: 3;
    grid-column: 3;
    display: flex;
    justify-content: flex-end;
}
.tab-img {
    grid-column: 1 / 2;
    grid-row: 1;
}